@using CShap_Blog_HungDV.dao
@using CShap_Blog_HungDV.Models

@{
    ViewBag.Title = "BlogSearch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("BlogSearch", "Blog", FormMethod.Get))
{
    <div id="Search">
        <div class="list-header">
            <div class="list-title">Search Blogs</div>
        </div>
        <div class="input-search-contairner">
            <label class="lb-search">Title: </label>
            <input placeholder="Title" class="input-search" value="@ViewBag.key" name="keySearch" />
        </div>
        <div class="button-search-contairner">
            <input type="submit" value="Search" class="btnSearch" />
        </div>
    </div>
    @Html.Partial("tblBlog")
}


